<footer class="footerC row align-items-bottom">
  <div class="iconos col-md-4 offset-md-4">
    <a href="/home"><img src="/images/github.png" alt="github" /></a>
    <a href="/home"><img src="/images/instagram.png" alt="instagram" /></a>
    <a href="/home"><img src="/images/whatsapp.png" alt="whatsapp" /></a>
    <a href="/home"><img src="/images/mail.png" alt="mail" /></a>
  </div>
  <div class="col-md-4 text-center mt-4">
    <h5>
      Camperos S.A. <br />
      C/ Segunda Estrella a la derecha <br />
      Tlf: 666555000
    </h5>
  </div>
</footer>
