<header class="headC sticky-top">
  <nav class="navC row text-center">
    <ul class="enlace navbar-nav">
      <li class="navPART">
        <a class="nav-link" href="/town/oneTown/">CAMPEROS</a>
      </li>
      <li class="navPART aa">
        <a class="nav-link aa" href="/town">PUEBLOS</a>
      </li>
      <li class="navPAR">
        <a class="nav-link" href="/activity">ACTIVIDADES</a>
      </li>
      <li class="navPART aa">
        <a class="nav-link aa" href="/">SALIR</a>
      </li>
    </ul>
  </nav>
</header>
