<header class="headC sticky-top">
  <nav class="navC row text-center">
    <ul class="enlace navbar-nav gap-1">
      <li class="navPART">
        <a class="nav-link ps-2" href="/town/oneTown/<%= result[0].town_id %>"
          >CAMPEROS</a
        >
      </li>
      <li class="navPART aa">
        <a class="nav-link aa" href="/town">PUEBLOS</a>
      </li>
      <li class="navPART">
        <a class="nav-link" href="/activity">ACTIVIDADES</a>
      </li>
      <li class="navPART aa">
        <a class="nav-link aa" href="/">SALIR</a>
      </li>
    </ul>
  </nav>
</header>
