<header class="headC sticky-top text-center">
  <nav class="navC row text-center">
    <ul class="enlace navbar-nav justify-content-center align-items-center">
      <li class="navPART">
        <a class="nav-link ps-2" href="/town/town_user">PUEBLOS</a>
      </li>
      <li class="navPART aa justify-content-center">
        <a class="nav-link aa text-center ps-2" href="/activity/activity_user"
          >ACTIVIDADES</a
        >
      </li>
      <li class="navPART">
        <a class="nav-link ps-2" href="/">SALIR</a>
      </li>
    </ul>
  </nav>
</header>
