@use "./mixin" as mx;
* {
  font-style: italic;
}
.firstI {
  @include mx.first;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/fondoAsturias.jpg");

  height: 100vh;
}

.first_1 {
  // background-color: red;
  width: 50%;
  height: 370px;
  padding: 50px;
  margin-top: 100px;

  .cabecera {
    color: white;
    text-align: center;
  }

  .form-control {
    width: 100%;
    color: white;
    background-color: rgba(55, 55, 55, 0.5);
    border: 1px solid rgba(55, 55, 55, 0.5);
    margin-top: 30px;
  }

  .form-control::placeholder {
    color: white;
    font-style: italic;
  }

  a {
    text-decoration: none;
    color: #04d9d9;
    h3 {
      margin-top: 35px;
    }
  }

  a:hover {
    text-decoration: none;
    color: #ebeb14;
  }

  .btn {
    background-color: #04d9d9;
    color: white;
    margin-left: 42%;
  }
  .btn:hover {
    background-color: #ebeb14;
    color: rgb(0, 0, 0);
  }

  .btn2 {
    background-color: #04d9d9;
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 130px;
  }
  .btn2:hover {
    background-color: #ebeb14;
    color: rgb(0, 0, 0);
  }
}

.first_2 {
  h2 {
    color: white;
  }
  hr {
    //height: 20px;
    border-top: 1px solid #ebeb14;
    //background-color: #e97b7b;
    //opacity: 1;
  }
  /* background-color: #d9b23dc2;
  width: 30%;
  @include mx.formCIndex; */
}

//Query movil
@media (max-width: 910px) {
  .first_1 {
    margin-top: 50px;

    width: 100%;
    .btn {
      margin-left: 35%;
    }
  }
}
