@use "./mixin" as mx;

* {
  font-style: italic;
}

/* Section 1 */
.first {
  @include mx.first;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/covadonga.jpg");
  height: 100%;
  text-align: center;

  .marco {
    width: 80%;
    height: 100%;
    margin: 100px;

    .card-img {
      border-radius: 25px;
      height: 70%;
      width: 90%;
    }
  }
  .pueblo {
    color: #ebeb14;
  }

  .btn {
    color: #04d9d9;
    font-size: 35px;
    font-weight: bold;
    background-color: #ebeb1400;
    border: 0px;
  }
  .btn:hover {
    background-color: #ebeb14;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: 1s;
  }
}

/* Section 2 */
.second {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/gristexture.jpg");
  height: 100%;

  h1 {
    color: #ebeb14;
    font-weight: bold;
    margin-top: 20px;
  }
  .marcoActividades {
    height: 100%;
    width: 100%;
    font-weight: bold;
  }

  .card {
    background-color: whitesmoke;
    height: 450px;
    box-shadow: 18px 18px 20px transparent;
    font-weight: bold;
    margin-right: 25px;
  }

  .card:hover {
    box-shadow: 5px 5px 10px rgb(128, 128, 128);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  img {
    height: 90%;
    width: 100%;
  }
  .btn1 {
    color: #04d9d9;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    background-color: #ebeb1400;
    border: 0px;
  }
  .btn1:hover {
    background-color: #ebeb14;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: 1s;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

@media (max-width: 770px) {
  .marco {
    flex-direction: column;
  }
  .marcoActividades {
    transition: 1s;
    height: 95%;
    width: 90%;
    flex-direction: column;
    margin-right: 10px;
  }
  .card-img-top {
    height: 200px;
    width: 277px;
  }
  .imgC {
    padding-bottom: 0px;
  }
}

@media (max-width: 1025px) {
  .first {
    height: 100%;
  }
}
